.container-dashboard{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	color: #99BCFE;
	margin: 20px;
	
}

.container-service{
  box-shadow: 0 0 25px white;
  height:210px;
  width: 730px;
  margin: 10px;
  padding: 10px;
  position:relative;
}

.container-rent{
  border-bottom: 1px solid white;
  height: 100px;
  width: 300px;
  margin: 10px;
  padding: 10px;
  position:relative;
}

  .description-dashboard{
  	width: 700px;
    height:100px;
    margin:10px;
  }

  .description-prix-loc{
  	width: 700px;
      height:100px;
  }

  h3 {
  	margin: 15px;
  	width: 150px;
  }
