.trash{
	position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
}

.edit{

	position: absolute;
    right: 25px;
    top: 0px;
    padding: 10px;
}

.trash-2{
	position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
}