.navbar {
	display: flex;
  background: transparent;
  width: 500px;
  margin-top: 10px;
    height: 3.5rem;
  color: white;
  font-weight: 50px;
  border: 1px solid white;
}

.nav-item{
	display: flex;
	justify-content: space-between;
	  width: 500px;
	  }

.nav-link {
	width: 500px;
	color:white;
	display: flex;
	justify-content: space-between;

}

.nav-link:hover {
	color:white;
}

.navbar-nav{
	width: 500px;
	display: flex;
	justify-content: space-between;
}




