<style type="text/css">* {cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol340.cur), auto !important;}</style><a href="http://www.cursors-4u.com/cursor/2009/12/15/cute-gingerbread-man.html" target="_blank" title="Cute Gingerbread Man"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Cute Gingerbread Man" style="position:absolute; top: 0px; right: 0px;" /></a>
<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>
